# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#MCUExpresso misc
.mcuxpressoide_packages_support/
.metadata/
AzureRTOS_TAD_logs/
FreeRTOS_TAD_logs/
source/test/
source/shoh/.settings/language.settings.xml

#Code

.vscode/
